.button-like {

}

.like-active .like-icon {
    display: inline;
    color: #FF0000;
}

.button-like .like-divider {
    display: inline;
    color: #ddd;
}

.button-like .like-count {
    display: inline;
    font-weight: bold;
}